<!DOCTYPE html>
<html>
<head>
  <title>PlandaEvents</title>
  <%= csrf_meta_tag %>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'bluepring/pring', :media => 'print' %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'bluepring/ie' %><![endif]-->
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
</head>
<body>
  <div class="container">
    <header>
      <%= image_tag("logo.png", :alt => "PlandaEvents", :class => "round") %>
      <nav class="round">
        <ul>
          <li><%= link_to "Home", '#' %></li>
	  <li><%= link_to "Calendar", '#' %></li>
	  <li><%= link_to "All Events", '#' %></li>
          <li><%= link_to "Contact Us", '#' %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </header>
    <section class="round">
      <%= yield %>
    </section>
  </div>
</body>
</html>
