<!DOCTYPE html>
<html>
<head>
  <title>PlandaEvents</title>
  <%= csrf_meta_tag %>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'bluepring/pring', :media => 'print' %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'bluepring/ie' %><![endif]-->
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
</head>
<body style="text-align:center">
  <div class="container">
    <header>
      <%= image_tag("logo.png", :alt => "PlandaEvents", :class => "round") %>
      <nav class="round">
        <ul>
          <li><%= link_to "Home", '/home/index' %></li>
	  <li><%= link_to "Calendar", '/calendar/index' %></li>
	  <li><%= link_to "All Events", '/pages/all_events' %></li>
          <li><%= link_to "Contact Us", '/pages/contact' %></li>
          <li><%= link_to "Sign in", '/home/signin' %></li>
        </ul>
        <ul>
          <%= "Categories" %>
          <a href="http://www.google.com/calendar/event?action=TEMPLATE&text=1%20Semester%20Startup%20Info%20Session&dates=20111118T090000Z/20111118T110000Z&details=come%20learn%20about%20starting%20your%20own%20company&location=GSB%203.106&trp=false&sprop=plandaevents.heroku.com&sprop=name:PlandaEvents" target="_blank"><img src="http://www.google.com/calendar/images/ext/gc_button2.gif" alt="0" border="0"></a>
        </ul>
      </nav>
    </header>
    <section class="round">
      <%= yield %>
    </section>
  </div>
</body>
</html>
