<!DOCTYPE html>
<html>
<head>
  <title>PlandaEvents</title>
  <%= csrf_meta_tag %>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'bluepring/pring', :media => 'print' %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'bluepring/ie' %><![endif]-->
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= stylesheet_link_tag "layout" %>
</head>
<body style="text-align:center">
	<div id="mainContent">
  		<div id="topnav">
        		<ul>
         			<li><%= link_to "Home", '/home/index' %></li>
	  			<li><%= link_to "Calendar", '/calendar/index' %></li>
	  			<li><%= link_to "All Events", '/pages/all_events' %></li>
          			<li><%= link_to "Contact Us", '/pages/contact' %></li>
        		</ul>
			<div id="navFiller"></div>
   		</div>
		<div id="content">
			<div id="sidenav">
				<div id="navTitle">
					<center>Choose a category</center>
				</div>			
				<ul>
					<li><%= link_to "Arts and Humanities", '/pages/arts' %></li>
					<li><%= link_to "Business and Economics", '/pages/arts' %></li>
					<li><%= link_to "Policy and Law", '/pages/arts' %></li>
					<li><%= link_to "Science and Technology", '/pages/arts' %></li>
					<li><%= link_to "Sports", '/pages/arts' %></li>
					<li><%= link_to "Your Major", '/pages/arts' %></li>
				</ul>		
			</div>
			<div id="rightSide">
				
				<center>
				<div id="rightInside">
				<%= yield %>
				</div>
<div id="filler"></div></center>
			</div>
		</div>
	</div>
</body>
</html>
