<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Time:</b>
  <%= @event.time %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Event url:</b>
  <%= @event.event_url %>
</p>

<p>
  <b>Contact:</b>
  <%= @event.contact %>
</p>

<p>
  <b>Admission:</b>
  <%= @event.admission %>
</p>

<p>
  <b>Categories:</b>
  <%= @event.categories %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
