<!DOCTYPE html>
<html>
  <head>
		<%= javascript_include_tag 'jquery-1.5.2.min.js' %>
		<%= javascript_include_tag 'jquery-ui-1.8.11.custom.min.js' %>

		<script type='text/javascript'>
			$(document).ready(function() {
				$("#box1-expanded").hide();
				$("#box2-expanded").hide();
				$("#box3-expanded").hide();
				$("#thumbs-down").hide();
				$("#thumbs-up").hide();
				$("#calendar-button").hide();
	
				$('#box1').click(function() {
					$("#box2-expanded").hide();
					$("#box3-expanded").hide();
					$("#box1-expanded").show('slow');
					$("#calendar-button").show();
					$("#thumbs-down").show();
					$("#thumbs-up").show();	
					$("#box1").animate({opacity: 0.25});		
				});
				$('#box2').click(function() {
					$("#box1-expanded").hide();
					$("#box3-expanded").hide();
					$("#box2-expanded").show('slow');
					$("#thumbs-down").show();
					$("#thumbs-up").show();				
				});
				$('#box3').click(function() {
					$("#box1-expanded").hide();
					$("#box2-expanded").hide();
					$("#box3-expanded").show('slow');
					$("#thumbs-down").show();
					$("#thumbs-up").show();				
				});
			});
		</script>

		<style>
			#button {
				width: 100px;
				height: 25px;
				position:relative;
				top: -280px;
				left: -170px;
				background-color:#aaaaaa;
				-moz-border-radius: 8px;
				border-radius: 8px;
			}
			#box-case {
				width: 600px;
				height: 180px;
				position:relative;
				top: 20px;
				background-color:#000033;
				-moz-border-radius: 15px;
				border-radius: 15px;
			}
  			#box1 {  
				width: 150px; 
				height: 150px; 
				background-color:white; 
				opacity: .75;
				float: left;
				position:relative;
				top: 15px;
				left: 30px;
				-moz-border-radius: 15px;
				border-radius: 15px;
			}
			#box1-expanded {
				position:relative;
				width: 500px;
				height: 500px;
				padding: 0.5em;
				top: 20px;
				-moz-border-radius: 15px;
				border-radius: 15px;
			}
			#box2-expanded {
				position:relative;
				width: 500px;
				height: 500px;
				padding: 0.5em;
				top: 20px;
				-moz-border-radius: 15px;
				border-radius: 15px;
			}
			#box3-expanded {
				position:relative;
				width: 500px;
				height: 500px;
				padding: 0.5em;
				top: 20px;
				-moz-border-radius: 15px;
				border-radius: 15px;
			}
			#box2 { 
				width: 150px; 
				height: 150px; 
				background-color:white; 
				opacity: .75;
				position:relative;
				float:center;
				top: 15px;
				-moz-border-radius: 15px;
				border-radius: 15px;
			}
			#box3 { 
				width: 150px; 
				height: 150px; 
				background-color:white; 
				opacity: .75;
				float:right;
				position:relative;
				top: -135px;
				left: -30px;
				-moz-border-radius: 15px;
				border-radius: 15px;
			}
			#box1:hover {
				opacity:1;			
			}
			#box2:hover {
				opacity:1;			
			}
			#box3:hover {
				opacity:1;			
			}
			#thumbs-up {
				width: 60px;
				height: 60px;
				position:relative;
				top: -250px;
				left: -200px;
			}
			
			#thumbs-down {
				width: 60px;
				height: 60px;
				position:relative;
				top: -310px;
				left: -140px;
			}
			
			#event-title {
				width: 500px;
				height: 25px;
				font-size: 14pt;
				border-radius:25px;
				-moz-border-radius: 5px;
				border-radius: 5px;
			}
			
			#event-info {
			
			}
			
			#event-image {
				width: 60px;
				height: 60px;
				position:relative;
				top: 10px;
				right: 10px
			}
			#topContent {
				height:300px;		
			}
			#bottomDiv {
				position:relative;
				top:-100px;			
			}
			#left-arrow {
				position:relative;
				top: -200px;
				left: -295px;
			}
			#right-arrow {
				position:relative;
				top: -230px;
				right: -296px;
				
			}
			#calendar-button {
				position:relative;
				top: -230px;
				left: -170px;
			}
		</style>
	</head>
	<body>
		<div id="events-container">
			<div id="topContent">			
				<div id="arrow-left"> </div>
				<div id="box-case">
					<div id="box1">
						<p>Austin Photography Workshops - One Light Workshop</p>
						<ul>
							<li>Date: 11/30</li>						
							<li>Time: 10am-6pm</li>
							<li>Location: ART lobby</li>
					</div>
					<div id="box2">
						<p>Germany during the Cold War Photography Exhibit</p>
						<ul>
							<li>Date: 12/2</li>
							<li>Time: 1-5pm</li>
							<li>Location: Harry Ransom Center</li>
						</ul>
					</div>
					<div id="box3">
						<p>Acoustic Guitarapalooza</p>
						<ul>
							<li>Date: 12/2</li>
							<li>Time: 5-11pm</li>
							<li>Location: Hole in the Wall</li>
						</ul>
					</div>
				</div>
				<div id="arrow-right"> </div>
			</div>	
	<div id="bottomDiv"		
			<div id="box1-expanded" style="border: 2px solid #000000;">
				<div id="event-title" style="border: 1px solid #000000;">
					<p><b> Austin Photography Workshops - One Light Workshop</b> </p>			
				</div>
				<div id="event-info"></div>
					<br></br>
					<ul>
						<li><font size="2pt" face="arial" color="black"><b>Date:</b> <font color="blue"> 11/30</font></font></li>
						<li><font size="2pt" face="arial" color="black"><b>Time:</b> <font color="blue"> 10am-6pm</font></font></li>
						<li><font size="2pt" face="arial" color="black"><b>Location:</b><font color="blue"> ART lobby</font></font></li>
						<br></br>
						<li><font size="2pt" face="arial" color="black"><b>Description:</b> <font color="blue">This is an all-day workshop from 10 am - 6 pm. We'll start by learning exposure basics on a DSLR camera,and spend the rest of the day learning how to create amazingly lit photos using only a single flash. We'll
spend a short time looking at how to improve the quality of on-camera flash, then learn the many, many
ways to create creative, beautiful light by taking that flash off the camera.</font></font></li>
					</ul>
					<div id="event-image">
				<%= image_tag "camera.jpg" %>
					</div>					
			</div>
			<div id="box2-expanded" style="border: 2px solid #000000;">
				<div id="event-title" style="border: 1px solid #000000;">
					<p> Germany during the Cold War Photography Exhibit </p>			
				</div>
				<div id="event-info"></div>
					<div id="event-image">
				<%= image_tag "judo.png" %>
					</div>					
			</div>
			<div id="box3-expanded" style="border: 2px solid #000000;">
				<div id="event-title" style="border: 1px solid #000000;">
					<p> Event 3 title </p>			
				</div>
				<div id="event-info"></div>
					<div id="event-image">
						<%= image_tag "judo.png" %>
					</div>					
			</div>	
	</div>		
	</body>
			<div id="calendar-button">

			<a href="/calendar/index"> <button>Add to Calendar</button></a>

			</div>
				
			</div>
			<div id="left-arrow">
				<%= image_tag "left.png" %>
			</div>
			<div id="right-arrow">
				<%= image_tag "right.png" %>
			</div>
			<div id="thumbs">
				<div id="thumbs-up">
					<%= image_tag "thumbsup.png" %>
				</div>
				<div id="thumbs-down">
					<%= image_tag "thumbsdown.png" %>
				</div>	
			</div>
</html>


