<!DOCTYPE html>
<html>
  <head>
		<%= javascript_include_tag 'jquery-1.5.2.min.js' %>
		<%= javascript_include_tag 'jquery-ui-1.8.11.custom.min.js' %>

		<script type='text/javascript'>
			$(document).ready(function() {
				$("#box1-expanded").hide();
				$("#box2-expanded").hide();
				$("#box3-expanded").hide();
	
				$('#box1').click(function() {
					$("#box2-expanded").hide();
					$("#box3-expanded").hide();
					$("#box1-expanded").show('slow');			
				});
				$('#box2').click(function() {
					$("#box1-expanded").hide();
					$("#box3-expanded").hide();
					$("#box2-expanded").show('slow');			
				});
				$('#box3').click(function() {
					$("#box1-expanded").hide();
					$("#box2-expanded").hide();
					$("#box3-expanded").show('slow');			
				});
			});
		</script>

		<style>
			#box-case {
				width: 600px;
				height: 180px;
				position:relative;
				top: 20px;
				background-color:#000033;
				filter: alpha(opacity=55);
				-moz-opacity: .55; 
				opacity: .55;
			}
  			#box1 { 
				position:relative; 
				top: 8px;
				left: -190px; 
				width: 150px; 
				height: 150px; 
				padding: 0.5em;
				background-color:white; 
			}
			#box1-expanded {
				position:relative;
				width: 500px;
				height: 500px;
				padding: 0.5em;
				top: 20px;
			}
			#box2-expanded {
				position:relative;
				width: 500px;
				height: 500px;
				padding: 0.5em;
				top: 20px;
			}
			#box3-expanded {
				position:relative;
				width: 500px;
				height: 500px;
				padding: 0.5em;
				top: 20px;
			}
			#box2 { 
				position:relative; 
				left: 5px; 
				top: -156px; 
				width: 150px; 
				height: 150px; 
				padding: 0.5em; 
				border-radius-top-left: 10px;
				background-color:white; 
			}
			#box3 { 
				position:relative;
				top: -322px;
				left: 200px;
				width: 150px; 
				height: 150px; 
				padding: 0.5em; 
				background-color:white; 
			}
			#thumbs-up {
				width: 60px;
				height: 60px;
				position:relative;
			}
			
			#thumbs-down {
				width: 60px;
				height: 60px;
				position:relative;
			}
			
			#event-title {
				width: 500px;
				height: 25px;
				border-radius:25px;
			}
			
			#event-info {
			
			}
			
			#event-image {
				width: 60px;
				height: 60px;
				position:relative;
				top: 10px;
				right: 10px
			}
			#topContent {
				height:200px;			
			}
		</style>
	</head>
	<body>
		<div id="events-container">
			<div id="topContent">			
				<div id="arrow-left"> </div>
				<div id="box-case">
					<div id="box1" style="border: 2px solid #000000;">
						<p>Event 1</p>
						<ul>
							<li>Time: 10am-12pm</li>
							<li>Location: GSB 3.106</li>
							<li>Short description</li>
					</div>
					<div id="box2" style="border: 2px solid #000000;">
						<p>Event 2</p>
					</div>
					<div id="box3" style="border: 2px solid #000000;">
						<p>Event 3</p>
					</div>
				</div>
				<div id="arrow-right"> </div>
			</div>			
			<div id="box1-expanded" style="border: 2px solid #000000;">
				<div id="event-title" style="border: 1px solid #000000;">
					<p> Event 1 title </p>			
				</div>
				<div id="event-info"></div>
					<div id="event-image">
				<%= image_tag "judo.png" %>
					</div>					
			</div>
			<div id="box2-expanded" style="border: 2px solid #000000;">
				<div id="event-title" style="border: 1px solid #000000;">
					<p> Event 2 title </p>			
				</div>
				<div id="event-info"></div>
					<div id="event-image">
				<%= image_tag "judo.png" %>
					</div>					
			</div>
			<div id="box3-expanded" style="border: 2px solid #000000;">
				<div id="event-title" style="border: 1px solid #000000;">
					<p> Event 3 title </p>			
				</div>
				<div id="event-info"></div>
					<div id="event-image">
				<%= image_tag "judo.png" %>
					</div>					
			</div>			
	</body>
			<div id="thumbs>
				<div id="thumbs-up">
					<%= image_tag "thumbsup.png" %>
				</div>
				<div id="thumbs-down">
					<%= image_tag "thumbsdown.png" %>
				</div>	
			</div>
</html>


